@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --bg-color: #222831;
  --primary-color: #DDDDDD;
  --secundary-color: #F05454;
  --font: Josefin Sans;
}